.documents{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
}

.title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.content {
    font-size: 1em;
    margin-bottom: 15px;
    color: #666;
}

.collaborators-ul {
    padding-left: 20px;
    margin: 5px 0;
}

.collaborators-li {
    font-size: 0.9em;
    color: #555;
}

.owner {
    font-size: 0.9em;
    color: #777;
}

strong {
    color: #333;
}
